# Simple exercises for Basic Data Types in Python
# Ryan Li 12.10.2020

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [1]:
num_1 = 2

In [2]:
num_1

2

#### 2. asign any number of type float to the variable "num_2"

In [5]:
num_2 = 3

In [6]:
num_2

3

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [7]:
total = num_1+num_2

In [8]:
total

5

#### 4. check the type of variable "total"

In [9]:
type(total)

int

#### 5. assign variable "height" with your height

In [10]:
height = 168

In [11]:
height

168

#### 6. asign variable "mass" with your weight

In [13]:
mass = 150

In [14]:
mass

150

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [16]:
bmi = mass/(height*height)

#### 8. print value from "bmi" variable

In [17]:
type(bmi)

float

# String

#### 1. Create variable "name" with your first name

In [18]:
name = 'Ryan'

In [19]:
name

'Ryan'

#### 2. Create variable "surname" with your surname

In [20]:
surname = "Li"

In [21]:
surname

'Li'

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [22]:
name_surname = name + ' ' + surname

Ryan Li

#### 4. print variable "name_surname"

In [24]:
print(name_surname)

Ryan Li

#### 5. print first letter from variable "name_surname"

In [25]:
name_surname[0]

'R'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [26]:
name_surname.replace(" ","")

'RyanLi'

#### 7. print your surname 10x (use variable surname)

In [27]:
name_surname * 10

'Ryan LiRyan LiRyan LiRyan LiRyan LiRyan LiRyan LiRyan LiRyan LiRyan Li'

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [30]:
message = f"Hello my name is {name_surname}"

#### 9. print "message" variable

In [31]:
print(message)

Hello my name is Ryan Li

## List

#### 1. create empty list with name "empty_list"

In [32]:
empty_list = []

In [33]:
type(empty_list)

list

#### 2. create list "heights" with five random values

In [34]:
heights = [10,50,32,45,21]

#### 3. print heights

In [35]:
print(heights)

[10, 50, 32, 45, 21]

#### 4. print type of variable "heights"

In [36]:
type(heights)

list

#### 5. print second value from "heights"

In [37]:
heights[1]

50

#### 6. assign last three values from "heights" to another list "heights_2"

In [52]:
heights_2 = heights[-3:]

#### 7. print "heights_2"

In [53]:
heights_2

[32, 45, 21]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [54]:
list_all = heights + heights_2

#### 9. print "list_all"

In [55]:
print(list_all)

[10, 50, 32, 45, 21, 32, 45, 21]

#### 10. print the type of "list_all"

In [56]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [57]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [58]:
empty_tuple[0] = "Ryan"

TypeError: 'tuple' object does not support item assignment

#### 3. According to question number 2, what is the main difference between list and tuple?

In [ ]:
## Tuples can't be edited after being created

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [59]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [68]:
heights_dict = {'Ryan':168}

#### 3. asign another name and height to "heights_dict"

In [69]:
heights_dict["Julie"] = 160

{'Ryan': 168, 'Julie': 160}

#### 4. print "heights_dict" dictionary

In [70]:
print(heights_dict)

{'Ryan': 168, 'Julie': 160}

#### 5. print your height from the "heights_dict" dictionary

In [72]:
print(heights_dict["Ryan"])

168

#### 6. print all values from "heights_dict" dictionary

In [73]:
print(heights_dict)

{'Ryan': 168, 'Julie': 160}

#### 7. print all keys from "heights_dict" dictionary

In [75]:
heights_dict.keys()

dict_keys(['Ryan', 'Julie'])