# Simple exercises for control structures in Python
- conditionals
- while loops
- for loops

## IF Statement

#### Assign 8 to the variable `x` and 15 to the variable `y`.

In [1]:
x = 8
y = 15

#### Create **if** statement that prints “At least one of the conditions is satisfied.” if `x` is greater than 3 or `y` is even.

In [6]:
if x > 3 or y % 2 == 0: 
    print("At least one of the conditions is satisfied")

At least one of the conditions is satisfied

#### Create **if** statement that prints “Neither condition is satisfied.” if `x` is less than or equal to 3 and `y` is odd.

In [7]:
if x <= 3 or y % 2 == 1: 
    print("Neither condition is satisfied.")

Neither condition is satisfied.

#### Change the values assigned to `x` and `y` and re-run the cells to verify your code still works.

In [15]:
x = 4
y = 2

In [16]:
if x > 3 or y % 2 == 0: 
    print("At least one of the conditions is satisfied")

At least one of the conditions is satisfied

In [17]:
if x <= 3 or y % 2 == 1: 
    print("Neither condition is satisfied.")

## FOR loop

In [19]:
heights = [1.82,1.75,1.68,1.76,1.5]

#### 0. Use for loop to print values from "heights" list

In [20]:
for i in heights: 
    print(i)

1.82
1.75
1.68
1.76
1.5

In [31]:
heights[3]

1.76

#### 1. Use for loop for printing only values bigger than 1.75

In [22]:
for i in heights:
    if i>1.75:
        print(i)

1.82
1.76

#### 2. Use for loop for printing all values until you find value 1.68 (included)

In [33]:
## Help for this
print(heights.index(1.68))

for i in heights:
    if i == 1.68:
        break
    else:
        print(i)

2
1.82
1.75

#### 3. Modify the previous loop to print all values from `"heights"` without value 1.68

In [34]:
for i in heights:
    if i == 1.68:
        pass
    else:
        print(i)

1.82
1.75
1.76
1.5

#### 4. use for loop over to iterate over `"heights"` and print "high" for values bigger than 1.75, "medium" for values between 1.68 and 1.75 and "small" for values lower than 1.68

In [36]:
for i in heights:
    if i > 1.75:
        print("high")
    elif i < 1.68:
        print("small")
    else:
        print("medium")

high
medium
medium
high
small

## WHILE loop

#### 1. Print out numbers from 0 to 4

In [40]:
range(4)

range(0, 4)

In [41]:
for i in range(4):
    print(i)

0
1
2
3

#### 2. use while loop to print out only even numbers lower than 15
hint : use `"%"` modulo operator

In [50]:
i = 15

while i <= 15 and i > 0:
    if i % 2 == 0:
        print(i)
    i-=1

14
12
10
8
6
4
2

15

#### 3. use while loop to print all numbers lower than 15 but skip first five values

In [56]:
n = 15 

while n <= 15 and n > 0:
    if n % 2 == 0 and n < 15-5:
        print(n)
    n-=1

8
6
4
2

## Actors
We have two lists actors and roles which are defined below:

In [57]:
actors = [
    "Nathan Fillion",
    "Gina Torres",
    "Alan Tudyk",
    "Morena Baccarin",
    "Adam Baldwin",
    "Jewel Staite",
    "Sean Maher",
    "Summer Glau",
    "Ron Glass"
]

roles = [
    "Captain Malcolm Reynolds",
    "Zoe Washburn",
    "Hoban Washburn",
    "Inara Serra",
    "Jayne Cobb",
    "Kaylee Frye",
    "Dr. Simon Tam",
    "River Tam",
    "Derrial Book"
]

We would like to produce a credit reel, by matching each actor with their role in the show. We know that both lists are in the correct order, such that for any number—let's say `n`—we know that `actors[n]` and `roles[n]` match. For example, `actors[3]` gives us "Morena Baccarin," and `roles[3]` gives us "Inara Serra," so we know that Morena Baccarin played Inara Serra in the show. **We want to print out the credits for all of the actors in the list.**

Here's an example of what we want to see when the code runs:

Featuring:<br>
=============<br>
Nathan Fillion as Captain Malcolm Reynolds"<br>
....

In [61]:
for i in range(len(actors)):
    print(actors[i], "as", roles[i])

Nathan Fillion as Captain Malcolm Reynolds
Gina Torres as Zoe Washburn
Alan Tudyk as Hoban Washburn
Morena Baccarin as Inara Serra
Adam Baldwin as Jayne Cobb
Jewel Staite as Kaylee Frye
Sean Maher as Dr. Simon Tam
Summer Glau as River Tam
Ron Glass as Derrial Book

## Nested Loops

Write a Python code to construct the following pattern, using a nested for loop.
```
* 
* * 
* * * 
* * * * 
* * * * * 
* * * * 
* * * 
* * 
*
```

In [84]:
for i in range(0,5):
    for j in range(0,i+1):
        print("* ", end = "")
    print("\r")

for i in range(4, 0, -1):
    for j in range(1, i + 1):
        print("* ", end='')
    print('\r')

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*